body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #df4f4f;
}

header {
    background-color: #292525;
    color: #bdf178;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.club-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto 1rem auto;
    border-radius: 5px;
}



nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.club-section {
    background: #cbcad4;
    margin: 1rem 2rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(124, 208, 152, 0.1);
}

.club-section h2 {
    color: #333;
}

.club-section p {
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
}
